@model SizeUpdateVM

@{
    ViewData["Title"] = "Edit";
}


<div class="container my-5">
    <h1>Edit</h1>



    <form class="form-sample" method="post" enctype="multipart/form-data">

        <input class="form-control" id="customFile" asp-for="Name" />
        <span class="text-danger" asp-validation-for="Name">@ViewBag.error</span>

        <div class="buttons my-3">
            <button type="submit" class="btn btn-primary mr-2">Submit</button>
            <a class="btn btn-light" asp-action="Index">Cancel</a>
        </div>

    </form>

</div>

@section Scripts{
    <script src="~/Admin/ckeditor/ckeditor.js"></script>

}